    .sidebar {
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        position: relative;
        height: 91vh;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      }
      .itemdash{
        margin-top: 20px;
      }

      .sidebar .nav-link {
        font-weight: 500;
        color: black;
      font-size: 15px;
      /* margin-top: 10px; */
      }

      .sidebar .nav-link .feather {
        margin-right: 4px;
      color: #727272;
    }

    .sidebar .nav-link.active{
      color: #25ced1;
    }
.actv{
    background-color: white;
}
    .nav-link:hover{
      color: gray;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }



//model

    .cont2{
        /* margin-left: 50%; */
     }


    .add_form form{
        margin: 20px;
    }
    .add_form{
        z-index: 1999;
        background: white;
        position: absolute;
        top: 15%;
        left:25%;
        width: 50%;
        /* background-color: black; */
        /* border: black 1px solid; */
    }



    .overlay{
        position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65); /* Semi-transparent black overlay */
      opacity: 100; /* Initially hidden */
      z-index: 1998; /* Adjust this value as needed to control layering */
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .hidden{
        display: none;
    }

.headstock{
display:flex;
justify-content: space-between;
margin-bottom: 5px;
}

.s h1{
    padding: 8px 0px;
    font-weight: 1000;
    font-size: 20px;
}
.btn-s{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.btn-s a{
    border:1px #25ced1 solid;
}


.container2{
display: flex;
gap: 10%;
margin: 0px 50px;
/* padding: 0px 20px; */
/* border:1px blue solid; */
}
.left-content{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.left-content h2{
    font-size: 40px;
    line-height: 1.3;
}

.left-content p{
    font-size: 16px;
}
.righ-content{
    display: flex;
    float: right;
}
.act{
    background-color: #25ced1;
    color: white;
}
.act:hover{
    color: black;
}
.stat{
    display: flex;
    margin-top: 80px;
    gap: 30px;
}
.hh{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    /* background-color: black; */
}

.pharma{
    background-color: white;
    padding: 20px 40px;
}

.cr{
    display: flex;
    justify-content: space-between;
}

.bd{
    background-color: #f4f4f4;
}

.ss{
    font-size: 40px;
    margin-bottom: 5px;
}
.cont{
    width: 100%;
    height: 200px;
    background-color: #f4f4f4;
}
